@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #0b1120;
  color: #fdfdfd;
}
